{% extends "blog/base.html" %}
{% block title %}My Blog{% endblock %}

{% block content %}
<div class="row">
    <div class="col-8">
        <h1>My Blog</h1>
        {% for post in posts %}
        <h4>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </h4>
        <p class="date">
            Published {{ post.publish }} by {{ post.author }}
        </p>
        {{ post.body|truncatewords:30|linebreaks }}
        <hr />
        {% endfor %}
    </div>

    <div class="col-4">
        <h2>My blog</h2>
        <p>This is my blog.</p>
    </div>

    {% include "pagination.html" with page=page_obj %}

</div>
{% endblock %}